<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util-2.5.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	
	<bean class="org.lastfm.action.control.DefaultEngine" id="applicationEngine" />
	<bean class="org.lastfm.action.control.ViewEngineConfigurator" id="viewEngineConfigurator">
		<constructor-arg ref="applicationEngine" />
	</bean>
	<bean class="org.lastfm.action.control.ControlEngineConfigurator" id="controlEngineConfigurator">
		<constructor-arg ref="applicationEngine" />
	</bean>
	<bean class="org.lastfm.action.control.SpringAppControlAutoConfigurerBeanPostProcessor">
		<constructor-arg ref="viewEngineConfigurator" />
		<constructor-arg ref="controlEngineConfigurator" />
	</bean>
	
	<bean id="helperScrobbler" class="org.lastfm.HelperScrobbler"/>
	<bean id="loginWindow" class="org.lastfm.gui.LoginWindow">
		<property name="addConfigurator" ref="viewEngineConfigurator" />
	</bean>
	<bean id="mainWindow" class="org.lastfm.gui.MainWindow">
		<property name="addLoginWindow" ref="loginWindow" />
		<property name="addConfigurator" ref="viewEngineConfigurator" />
	</bean>	
	<bean id="scrobblerController" class="org.lastfm.ScrobblerController">
		<property name="addHelperScrobbler" ref="helperScrobbler" />
		<property name="addMainWindow" ref="mainWindow" />
		<property name="addConfigurator" ref="controlEngineConfigurator" />
	</bean>
</beans>